/*GENERAL*/

*{
margin: 0;
padding: 0;
}

h1.titre {
	text-align: center;
	font-size: 70px;
	color: white;
	font-family:Sans-serif;
	font-weight: bold;
	}
	
img.logo {
	width: 90px;
	}



div.h1 {
	background-color: black;
	height: 90px;
	}

h1 {
	text-align: center;
	font-size: 70px;
	font-family: Sans-serif;
	font-weight: bold;
	}

p { 
	text-align: center;
	font-size: 30px;
	font-family: Sans-serif;
	font-weight: bold;
	}



table.titre {
	margin :auto;
	}

table.menu {
	margin :auto;
	}

td.menu {
	text-align: center;
	font-size: 30px;
	font-family: Sans-serif;
	font-weight: bold;
	}

p.menu {
	text-align: center;
	font-size: 30px;
	font-family: Sans-serif;
	font-weight: bold;
	}

a.titre:link{color: white;
			 text-decoration: none;}
a.titre:visited{color: white;
				text-decoration: none;}

a.menu:link{color: white;}
a.menu:visited{color: white;}

a:link{color: black;}
a:visited{color: black;}

table.match {
	margin :auto;
	}

img.equipe {
	width: 50px;
	}

table.draft {
	margin :auto;
	}
	
table.rank {
	margin :auto;
	}
	
p.victoire {
	font-size: 25px;
	font-style: normal;
	text-align: center;
	color: green;
	font-family: Sans-serif;
	font-weight: bold;}
	
p.defaite {
	font-size: 25px;
	font-style: normal;
	text-align: center;
	color: red;
	font-family: Sans-serif;
	font-weight: bold;}
	
p.actus { 
	text-align: center;
	font-size: 30px;
	color: black;
	font-family: Sans-serif;
	font-weight: bold;
	}

img.actus {
	width: 500px;
	}

table.actus {
	margin :auto;
	}

table {
	margin:auto;
	}
	
td.vide {
	height:235px;
	}

/*INDEX*/

div.basket{
	height:500px;
	background-image: url("fondbasket.jpg");
	background-size: cover;
	background-repeat:repeat;
	}

div.foot{
	height:500px;
	background-image: url("fondfoot.jpg");
	background-size: cover;
	background-repeat:repeat;
	}
	
div.rugby{
	height:500px;
	background-image: url("fondrugby.jpg");
	background-size: cover;
	background-repeat:repeat;
	}
	
div.hand{
	height:500px;
	background-image: url("fondhand.jpg");
	background-size: cover;
	background-repeat:repeat;
	}

div.bodyindex{
	background-color:black;
	}

body.index{
	background-color:black;
	}

/*BASKET*/

body.basket{
	background-color: FloralWhite;
	}
	
div.matchbasket {
	background-color: FloralWhite;
	}
	
div.actusbasket {
	background-color:FloralWhite;
	}

div.draftbasket {
	background-color: FloralWhite;
	}

div.rankbasket {
	background-color: FloralWhite;
	}
	
div.videbasket {
	background-color: FloralWhite;
	height: 300px
	}


div.bodybasket {
	background-image: url("fondbasket2.png");
	background-size: cover;
	background-repeat:repeat;
	}

	
td.matchbasket {
	border: 5px solid chocolate;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 30px;
	color: white;
	font-family: Sans-serif;
	font-weight: bold; }

	
td.draftbasket {
	border: 5px solid chocolate;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 30px;
	color: white;
	font-family: Sans-serif;
	font-weight: bold; }
	
	
td.rankbasket {
	border: 5px solid chocolate;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 30px;
	color: white;
	font-family: Sans-serif;
	font-weight: bold; }

td.equipebasket{
	border: 5px solid chocolate;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 30px;
	font-family: Sans-serif;
	font-weight: bold;
}

	
td.actusbasket {
	border: 10px solid chocolate;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 30px;
	color: white;
	font-family: Sans-serif;
	font-weight: bold; }
	
/*FOOT*/

h1.foot {
	text-align: center;
	font-size: 70px;
	font-family: Sans-serif;
	font-weight: bold;
	color:white;
	}

p.foot { 
	text-align: center;
	font-size: 30px;
	font-family: Sans-serif;
	font-weight: bold;
	color:white;
	}

body.foot {
	background-color: navy;
	}

div.menufoot {
	background-color: navy;
	}

div.matchfoot {
	background-color: navy;
	}
	
div.actusfoot {
	background-color:navy;
	}

div.draftfoot {
	background-color: navy;
	}

div.rankfoot {
	background-color: navy;
	}
	
div.videfoot {
	background-color: navy;
	height: 300px
	}

div.bodyfoot {
	background-image: url("fondfoot2.png");
	background-size: cover;
	background-repeat:repeat;
	}

td.matchfoot {
	border: 5px solid YellowGreen;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 30px;
	color: white;
	font-family: Sans-serif;
	font-weight: bold; }
	
td.menufoot {
	border: 5px solid YellowGreen;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 30px;
	color: white;
	font-family: Sans-serif;
	font-weight: bold; }

	
td.draftfoot {
	border: 5px solid YellowGreen;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 30px;
	color: white;
	font-family: Sans-serif;
	font-weight: bold; }
	
	
td.rankfoot {
	border: 5px solid YellowGreen;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 30px;
	color: white;
	font-family: Sans-serif;
	font-weight: bold; }

td.equipefoot{
	border: 5px solid YellowGreen;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 30px;
	font-family: Sans-serif;
	font-weight: bold;
}

	
td.actusfoot {
	border: 10px solid YellowGreen;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 30px;
	color: white;
	font-family: Sans-serif;
	font-weight: bold; }
	
td.liguefoot {
	border: 5px solid YellowGreen;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 30px;
	font-family: Sans-serif;
	font-weight: bold;
	height: 300px; }
	
img.liguefoot {
	width: 300px;
	}
